

/*-----------PORTADABLOG----------*/
.container-cover{
  width: 100%;
  height: 500px;
 
  position: relative;
  background-image: url(/img/images/BannerBlocksTown.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container-cover::before{
  content: '';
  width: 100%;
  height: 100%;
  background-color:aquamarine;
  position:absolute;
  top: 0;
  left: 0;
  opacity: 50%;
}
.container-info-cover{
  max-width: 800px;
  height: 400px;
  margin: 40px;
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}
.container-info-cover h1{
  font-size: 60px;
  font-weight: 500;
  color: black;
  margin-bottom: 20px;
}

.container-cover p {
  color: black;
  font-size: 20px;
  font-weight: 400;
}

/*-----------ARTICULO BLOG-----------*/

/*-Contenedor del articulo*/
.container-content article{
  margin: 20px;
  box-shadow: -10px 0 20px -30px black;
}

.relacionados{
  width: 80%;
  text-align: justify;
}

.img-blog{
  width: 500px;
  height: 500px;
}
.img-relacionados{
 width: 70%;
  margin-left: 30px;
  margin-right: 10px;
 text-align: center;
}
.cuadro-articulo{
  text-align:start;
  justify-content: center;
  margin-top: 70px;
  margin-left: 50px;
  margin-right: 10px;
}

/*---------AJUSTE TE TAMAÑO EN PANTALLA--------*/

@media screen and (max-width: 1020px){
  .container-content{
    max-width:1000px;
    padding: 0 20px;
  }

  .container-aside{
    display: flex;
    justify-content: center;
  }

  .container-aside aside{
    max-width: 300px;
    margin: 10px;

  }
}