

/*-----------PORTADABLOG----------*/
.container-cover{
  width: 100%;
  height: 500px;
  margin-top: 100px;
  position: relative;
  background-image: url(/img/images/BannerBlocksTown.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container-cover::before{
  content: '';
  width: 100%;
  height: 100%;
  background-color:aquamarine;
  position:absolute;
  top: 0;
  left: 0;
  opacity: 50%;
}
.container-info-cover{
  max-width: 800px;
  height: 400px;
  margin-top: 20px;
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}
.container-info-cover h1{
  font-size: 60px;
  font-weight: 500;
  color: black;
  margin-bottom: 20px;
}

.container-cover p {
  color: black;
  font-size: 20px;
  font-weight: 400;
}

/*-----------ARTICULO BLOG-----------*/

/*-Contenedor del articulo*/
.container-content article{
  margin: 50px;
  margin-top: 30px;
  box-shadow: -10px 0 20px -30px black;
}

.relacionados{
  width: 70%;
}

.img-blog{
  width: 90%;
}
.img-relacionados{
 width: 100%;
 margin-top: 30px;
 margin-bottom: 30px;
 flex-direction: column;
 align-items: center;
}

.p-relacionados{
  color: gray;
  font-size: 13px;
  font-weight: 400;
}
.cuadro-articulo{
 width: 100%;
  margin-top: 30px;
 margin-bottom: 30px;
}

/*---------AJUSTE DE TAMAÑO EN PANTALLA--------*/

@media screen and (max-width:  990px){
  .p-relacionados{
    width: 200px;
    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .relacionados{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .cuadro-articulo{
    margin-top: 30px;
    margin-bottom: 30px;
   }
}

@media screen and (max-width: 767px){
  .container-content{
    max-width:1000px;
    padding: 0 20px;
  }

  .cuadro-articulo{
    display: flex;
    justify-content: center;

  }
  .relacionados{
    margin: 10px;
    width: 40%;
  }
}

@media screen and (max-width:  465px) {
  .p-relacionados{
    width: 150px;
    height: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .relacionados{
    width: 60%;
  }

  .cuadro-articulo{
    display:flex;
    flex-direction: column;
    align-items: center;
  }
}