
.sticky{
    position:fixed;
    top: 0;
    width: 100%;
    z-index: 4;
  }

  /*----------STYLE NAV----------*/
  .style-navbar{
    z-index: 2;
    margin: 6px;
  }
  .img-logovar {
    background-size: cover;
    /*Tamaño de imagen*/
      width: 60px;
      height: 60px;
  }

  /*-------STYLE FOOTER--------*/
.style-footer {
   position:relative;
   background: #292929;
   z-index: 2;
}

.img-footer{
    background-image: url('/img/general/banner.jpg');
    background-color: #292929;
    background-blend-mode: multiply;
    display: flex;
    background-size: cover;
    image-orientation: from-image;
    background-position: center;
    background-repeat: no-repeat;
  }

